.btn {
  background-color: var(--color-grey-200);
  color: var(--color-grey-900);
  border: none;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.95);
  }

  &--primary {
    background-color: var(--color-primary);
  }
}
