:root {
  // Color Pallete
  --color-primary-300: #ffa500;
  --color-grey-200: #e1e1e6;
  --color-grey-350: #ccc;
  --color-grey-600: #606060;
  --color-grey-900: #121214;
  --color-white: #fff;

  // Other color variables
  --color-primary: var(--color-primary-300);

  // Other variables
  --calculator-row-height: 4rem;
}
