// Color Pallete
$color-gray-150: #e7e5e5;
$color-gray-200: #e1e1e6;
$color-gray-300: #c1c7d0;
$color-gray-400: #aaa;
$color-gray-450: #909090;
$color-gray-500: #808080;
$color-gray-600: #606060;
$color-gray-700: #3d3c42;
$color-gray-750: #393838;
$color-gray-800: #202024;
$color-gray-900: #121214;
$color-black: #000;
$color-white: #fff;
