.calculator {
  max-width: 30rem;

  &__display {
    font-weight: 500;
    line-height: 2rem;
    text-align: end;
    background-color: var(--color-grey-600);
    color: var(--color-white);
    padding: 1rem 0.5rem;
  }
}
