.calculator {
  max-width: 30rem;

  &__display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--calculator-row-height);
    font-weight: 500;
    background-color: var(--color-grey-600);
    color: var(--color-white);
    padding: 0 0.5rem;
  }
}
